html{
  background-color: #4682B4;
  text-align: center;
}
img{
  img-align: center;
  height: 500px;
  width: 1080px;
}
p{
  font-size: 30px;
  font-family: fantasy;
  color: #DAA520;
}
h1{
  font-family: fantasy;
  color: #DAA520;
  font-size: 30px;
}

